<h1>Articles</h1>

<dl>

    <dt><h3><%= link_to @article.title, user_article_path(@user.id, @article.id) %>
    </h3></dt>
    <dd><%= @article.body %></dd>
    <%= link_to "Edit this article", edit_user_article_path(@user.id, @article.id) %>
		 | <%= link_to "Delete this article", user_article_path(@user.id, @article.id), confirm: "YOU SURE?", method: :delete %>
</dl>

<h2>Comments</h2>

<dl>
  <% @article.comments.each do |comment| %>
  <dt>Comment @ <%= comment.created_at.strftime("%d %b. %Y") %> : </dt><dd> <%=time_ago_in_words(comment.created_at) %> ago:  <%= comment.body%></dd>
  <% end %>
</dl>

<%= link_to "New Comment", new_user_article_comment_path(@user.id, @article.id) %><br/>



<%= link_to "Back to User", user_path(@user) %>
