<h1>User : <%= @user.name %></h1>
<p> User email: <%= @user.email %><p>
 <p><%= link_to 'New article', new_user_article_path(@user.id) %></p>





<dl>
  <% @user.articles.each do |article| %>
  <dt><%= link_to article.title, user_article_path(@user.id, article.id) %></dt><dd><%= article.body%></dd><br><br>
  <% end %>
</dl>
<hr>

<%= link_to "Back to Users", users_path %>
